* {
  transition: all 0.3s;
  padding: 0;
  margin: 0;
}

body{
  background-image: url("FondoArcoirisPiezas.jpeg");
  background-size: cover;
}

header{
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor {
    background-color: white;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding: 15px;
}

.encabezado {
  position: relative;
  background: white;
  padding: 10px;
  text-align: center;
}

.categoria {
  opacity: 0.3;
  text-align: left;
}

.pregunta {
  padding: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.imagen {
  object-fit: cover;
  height: 0px;
  width: 0px;
}

.btn {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(226, 226, 226);
}

.btn:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.numero{
  position: absolute;
  opacity:0.3;
  top: 10px;
  right: 10px;
}

.puntaje{
  padding:10px;
  color:rgb(0, 0, 0);
  text-align: center;
}


/* *{
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

body{
    background-color: bisque;
}

header{
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor{
    background-color: white;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
}

.pregunta{
    background-color: black;
    text-align: center;
    color: white;
    padding: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagen{
    text-align: center;
    padding: 30px;
}

.respuestas{
    text-align: center;
    padding: 20px;
    display: grid;
}

#opc1 , #opc2 , #opc3 , #opc4{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0.5px rgb(180, 180, 180) block ;
    background-color: white;
}

#opc1:hover , #opc2:hover , #opc3:hover , #opc4:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transform: scale(1.05);
} */


